# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!/.vscode
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Keep machine-specific IntelliSense configuration local
.vscode/c_cpp_properties.json

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
